.home_body{
    height: 100vh;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    background-image: url(../../images/Bg-2.jpg);
}

@keyframes slide{
    from{
        transform : translate(-100%)
    }
    to{
        transform : translate(+100%)
    }
}
@keyframes slideleft{
    from{
        transform : translateY(+5px)
    }
    to{
        transform : translateY(-5px)
    }
}
